<div class="container text-center" style="padding:20px;">
	<h1 style="text-align:center;">
	</h1>
	<hr>
	<div class="row no-gutters position-relative">
		<div class="col-md-6 mb-md-0 p-md-4">
			<img class="w-100" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="image">
		</div>
		<div class="col-md-6 position-static p-4 pl-md-0">
			<h5 class="mt-0">אני יכול</h5>
			<p>חברתנו מתמחה בשילוב עובדים בעלי מוגבלויות בחברות ובעסקים</p>
			<a href="/business/index">לצפיה בעסקים שכבר במיזם לחץ כאן</a>
		</div>
	</div>
	<main>
		<router-outlet></router-outlet>
	</main>
</div>